eta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>日本人向けビッグファイブテスト『FFPQ』</title>
</head>
<body>
    <header>日本人向けビッグファイブテスト『FFPQ』</header>
    <h1>世界一正確な性格テスト</h1>
    <p>心理学で最も信頼度の高いビッグファイブテストですが、アジアでは結果が異なることが知られています。そこで開発された日本人向けのビッグファイブテストFFPQをやってみましょう！</p>
    <a href="/test" class="btn">テスト開始</a>
    <footer>テストページです。</footer>
</body>
</html>
